/*
Author: Jan Früh
Author: Sophia Gaupp
*/

/* 
Some basic formatting of the website in principle.
*/
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* 
Styling of the button "Steps".
*/
#Steps {
    position:absolute;
    transition: .5s ease;
    top: 5%;
    left: 20%;
    height:"100";
    width:"100";
    border-radius: 100%;
    background: transparent;
    border: none;
}

/* 
Styling of the button "Heartrate".
*/
#Heartrate {
    position:absolute;
    transition: .5s ease;
    top: 5%;
    left: 40%;
    height:"100";
    width:"100";
    border-radius: 100%;
    background: transparent;
    border: none;
}

/* 
Styling of the button "Temperature".
*/
#Temperature {
    position:absolute;
    transition: .5s ease;
    top: 5%;
    left: 60%;
    height:"100";
    width:"100";
    border-radius: 100%;
    background: transparent;
    border: none;
}

/* 
Styling of the button "Calories".
*/
#Calories {
    position:absolute;
    transition: .5s ease;
    top: 5%;
    left: 80%;
    height:"100";
    width:"100";
    border-radius: 100%;
    background: transparent;
    border: none;
}

/* 
Styling of the container in which all the cells of a css grid below. 
*/
.grid-container {
    display: grid;
    /*Building a 2x2 Matrix for storing the graphs.*/
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
    /*Using the whole possible window size of the device.*/
    height: 100vh;
    width: 100vh;
}
/*
Some extra settings for the css grid container.
*/
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 80px ;
    font-size: 30px;
}

/*
Container for each field in the grid-container.
*/
.graph-container{
    border: 1px solid  #ccc;
    padding: 10px;
}

/*
Makes it possible to operate on an graph-container dynamically (hide/show).
*/
.hidden-row {
    display: none;
}


/*
Setting the visueal appearance of the toolbar.
*/
header {  
    background-color: teal;  
    position: fixed;  
    left: 0;  
    right: 0;  
    top: 0px;  
    height: 120px;  
    display: flex; 
    align-items: center; 
    box-shadow: 0px 0px 8px rgba(0,0,0,.6); 
}

/*
Setting the visueal appearance of the Date Range Picker. 
*/
#openPickerBtn{
    position:absolute;
    transition: .5s ease;
    top: 0%;
    left: 1%;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    background-color: wheat;
    border: none;
    opacity: 0.6;
    cursor: pointer;
    display: inline-block;
}


/*
Create a hover effect for the Date Range Picker.
*/
#openPickerBtn:hover {opacity: 1}


/*
Setting the visual appearance of the current selected Day.
*/
#reportrange{
    position:absolute;
    transition: .5s ease;
    top: 70%;
    left: 1%;
    width: 300px;
    height: 30px;
    color: white;
}