/*
Author: Jan Früh
*/

/* 
Some basic formatting of the website in principle.
*/
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

/* 
Styling of the button "Steps".
*/
#Steps {
    position:absolute;
    transition: .5s ease;
    top: 10%;
    left: 15%;
    height:100px;
    width:200px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

/* 
Styling of the button "Heartrate".
*/
#Heartrate {
    position:absolute;
    transition: .5s ease;
    top: 10%;
    left: 35%;
    height:100px;
    width:200px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

/* 
Styling of the button "Temperature".
*/
#Temperature {
    position:absolute;
    transition: .5s ease;
    top: 10%;
    left: 55%;
    height:100px;
    width:200px;
}

/* 
Styling of the button "Calories".
*/
#Calories {
    position:absolute;
    transition: .5s ease;
    top: 10%;
    left: 75%;
    height:100px;
    width:200px;
}

/* 
Styling of the container in which all the cells below are possibily represented after pressing the buttons.
*/
#container {
    display: table;
    height: 90%;
    margin: 0;
    padding: 0;
    width: 100%;
}


/*
Define a common size of the cells in pixels.
*/
#Left, #middle-left ,#middle-right,  #Right{
    padding: 532px;
}

/*
By default, all cells are hidden. When the button is pressed, the cell is represented in the defined 
"background-color".
*/
#Left {
    background-color: green;
    display: none;
}

#middle-left {
    background-color: yellow;
    display: none; 
}

#middle-right {
    background-color: blue;
    display: none; 
}

#Right {
    background-color: red;
    display: none; 
}