<!--
 * @author Mattes Warning
 * @author Jan Früh
 * @author Sophia Gaupp
-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>

        <!-- Add a title for the website-->
        <title>
            {% block title %} Biosensori {% endblock %}
        </title>

        <!-- Link js libraries and stylesheets -->
        <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='daterangepicker.css') }}" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.bundle.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.css" />
        <script type="text/javascript" src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker@3.1.0/daterangepicker.js"></script>


    </head>

    <body style="margin: 60px 0;">

        <!-- div for the possibility of splitting the website in four equal cells.
        'hidden-row' sets the graph container to hidden. -->
        <div class="grid-container">
            <div class="graph-container hidden-row" id="steps" 
            data-toggle="tooltip" title="FUN FACT: Did you know that on average, a person walks the equivalent of three times around the world in a lifetime? So, lace up those shoes and step into the adventure – you might just be circling the globe without leaving your neighborhood!"></div>
            <div class="graph-container hidden-row" id="heartrate"
            data-toggle="tooltip" title="FUN FACT: While the average human heart beats 60 to 100 times per minute researchers of the Stanford University found that the heart rate of blue whales differ a lot depending on their activity. While diving , their heart rate slow, reaching an average minimum of about four to eight beats per minute – with a low of two beats per minute. "></div>
            <div class="graph-container hidden-row" id="temperature"
            data-toggle="tooltip" title="FUN FACT: Did you know that your nose gets warmer when you lie? Spanish scientists from the University of Granada confirmed that the area around your nose and eyes heats up when you lie. So careful with that temperature sensor there, pinocchio"></div>
            <div class="graph-container hidden-row" id="calories"
            data-toggle="tooltip" title="FUN FACT: Ever wondered about the gourmet preferences of a guinea pig? These small rodents consume around 70-100 calories per day, which may sound modest. However, when adjusted for body weight, it's the equivalent of a human devouring a mountain of spaghetti daily!"></div> 
        </div>

        <!--Implement a header which includes all buttons, the current selected day and the date range picker-->
        <header>
            <nav>    
            <!-- Buttons + Icons -->

            <!-- button for the steps chart -->
            <button type="button" class="svg-button" id="Steps" onclick="displayRow(item)" 
            data-toggle="tooltip" title="TIPP: Studies have indicated that achieving a daily step count of 7500 or more can provide significant health benefits.">
                <img src="static/icons/StepsIcon.svg" alt="Calories" width="100" height="100" />
            </button>

            <!-- Button for the heartrate chart -->
            <button type="button" class="svg-button" id="Heartrate" onclick="displayRow(item)"
            data-toggle="tooltip" title="TIPP: Optimal heart rates during exercise vary; Maintaining a target range can enhance the efficiency of your workouts.">
                <img src="static/icons/HeartbeatsIcon.svg" alt="Calories" width="100" height="100" />
            </button>

            <!-- Button for the temperature chart -->
            <button type="button" class="button" id="Temperature" onclick="displayRow(item)"
            data-toggle="tooltip" title="TIPP: The average body temperature is around 37°C, but individual norms may vary. Paying attention to fluctuations can aid in early detection of health issues and inform appropriate actions for well-being.">
                <img src="static/icons/TemperatureIcon.svg" alt="Calories" width="100" height="100" />
            </button>

            <!-- Button for the calories chart -->
            <button type="button" class="button" id="Calories" onclick="displayRow(item)"
            data-toggle="tooltip" title="TIPP: Calories represent the energy content in the food we consume, providing the fuel our bodies need for daily activities. The average daily calorie intake varies for each individual based on factors such as age, gender, activity level, and overall health goals.">
                <img src="static/icons/CaloriesIcon.svg" alt="Calories" width="100" height="100" />
            </button>

            <!-- Button for Date Range Picker -->
            <button id="openPickerBtn" class="btn btn-primary">Open Calendar</button>

            <!-- DateRangePicker container -->
            <div id="reportrange" class="form-control"><i class="glyphicon glyphicon-calendar"></i>&nbsp; <span></span> <b class="caret"></b></div>
            </nav>
        </header>



        <!-- Script imports at bottom of <body> to improve display speed  -->
        <script type="text/javascript" src="static/scripts/utils.js"></script>
        <script type="text/javascript" src="static/scripts/daterangepicker.js"></script>
        <script type="text/javascript" src="static/scripts/index.js"></script>


        <!-- Graphs -->
        <script type="text/javascript" src="static/scripts/steps.js"></script>
        <script type="text/javascript" src="static/scripts/heartrate.js"></script>
        <script type="text/javascript" src="static/scripts/temperature.js"></script>
        <script type="text/javascript" src="static/scripts/calories.js"></script>

        <!-- read data -->
        <script type="text/javascript">
            dataset = {{ data | safe }};
        </script>

        <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
        </script>
        
    </body>
</html>