<!--
 * @author Mattes Warning
 * @author Jan Früh
-->
<!DOCTYPE html>
<html lang="en">
    

<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link the .css and the javascript of d3 to the .html -->   
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>

    <!-- Add a title for the website-->
    <title>
        {% block title %}
        Biosensori
        {% endblock %}
    </title>
    
</head>

<body>

    
    <!-- svg for the possibility of splitting the website in four equal cells -->

    <!-- svg for the steps chart -->
    <svg id="steps" width="532" height="532"></svg>

    <!-- svg for the heartrate chart -->
    <svg id="heartrate" width="532" height="532"></svg>

    <!-- svg for the temperature chart -->
    <svg id="temperature" width="532" height="532"></svg>

    <!-- svg for the calories chart -->
    <svg id="calories" width="532" height="532"></svg>


    <!-- button for the steps chart -->
    <button type="button" id="Steps">
        Steps
        <element onclick="myScript">
    </button>

    <!-- button for the heartrate chart -->
    <button type="button" id="Heartrate">
        Heartrate
    </button>

    <!-- button for the temperature chart -->
    <button type="button" id="Temperature">
        Temperature
    </button>

    <!-- button for the calories chart -->
    <button type="button" id="Calories">
        Calories
    </button>


    <!-- read data -->
    <script type="text/javascript" >
    dataset = {{ data | safe }};
    </script>

    <!-- link the javascript to the .html -->
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>

    <!-- between block and endblock we will insert more html, js from other files -->
    {% block content %}
    {% endblock %}
</body>

</html>