<!DOCTYPE html>
<html lang="en">
    

<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <title>
        {% block title %}
        Biosensori
        {% endblock %}
    </title>
    
</head>

<body>
    <div id="container">
        <div id="Left"></div>
        <div id="middle-left"></div>
        <div id="middle-right"></div>
        <div id="Right"></div>
    </div>

    <button type="button" id="Steps">
        Steps
    </button>

    <button type="button" id="Heartrate">
        Heartrate
    </button>

    <button type="button" id="Temperature">
        Temperature
    </button>

    <button type="button" id="Calories">
        Calories
    </button>


    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>


</body>

</html>