<!--
 * @author Mattes Warning
 * @author Jan Früh
 * @author Sophia Gaupp
-->
<!DOCTYPE html>
<html lang="en">
    

<head>
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- link the .css and the javascript of d3 to the .html -->   
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}">
    <script src="https://d3js.org/d3.v7.min.js" charset="utf-8"></script>

    <!-- Add a title for the website-->
    <title>
        {% block title %}
        Biosensori
        {% endblock %}
    </title>
    
</head>

<body>

    <!-- div for the possibility of splitting the website in four equal cells -->
    <div id="container">
        <!-- div for the steps chart -->
        <div id="Left"></div>

        <!-- div for the heartrate chart -->
        <div id="middle-left"></div>

        <!-- div for the temperature chart -->
        <div id="middle-right"></div>

        <!-- div for the calories chart -->
        <div id="Right"></div>
    </div>


    <!-- button for the steps chart -->
    <button type="button" id="Steps">
        <svg width="20" height="20" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="/Users/sophiag/Documents/Dokumente/Studium/Master/FS1/Visualization of Biological Data/Biosensors/StepsIcon.svg" />
        </svg>
        Steps
    </button>

    <!-- button for the heartrate chart -->
    <button type="button" id="Heartrate">
        Heartrate
    </button>

    <!-- button for the temperature chart -->
    <button type="button" id="Temperature">
        Temperature
    </button>

    <!-- button for the calories chart -->
    <button type="button" id="Calories">
        Calories
    </button>


    <!-- link the javascript to the .html -->
    <script type="text/javascript" src="{{ url_for('static', filename='index.js') }}"></script>


    <!-- For now lets just create subpages with the visualizations. We need to integrate them into the buttons above later -->
    <table>
        <tr>
            <td ><li><a href="{{ url_for('calories') }}">Calories</a></li></td>
            <td ><li><a href="{{ url_for('heartrate') }}">Heartrate</a></li></td>
            <td ><li><a href="{{ url_for('steps') }}">Steps</a></li></td>
            <td ><li><a href="{{ url_for('temperature') }}">Temperature</a></li></td>
        </tr>
    </table>

    <!-- div for the calorie chart -->
    <div id="_calories"></div>

    <!-- div for the heartrate chart-->
    <div id="_heartrate"></div>

    <!-- div for the steps chart-->
    <div id="_steps"></div>

    <!-- div for the temperature chart-->
    <div id="_temperature"></div>


    <!-- between block and endblock we will insert more html, js from other files -->
    {% block content %}
    {% endblock %}
</body>

</html>